Options +FollowSymLinks
RewriteEngine on

RewriteRule ^banner01.swf$ 																					http://www.gabanmonteiroadv.com.br/? [R=301,L]
RewriteRule ^noticias/primeira-secao-afasta-recolhimento-privilegiado-iss-atividades-cartorio.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/stf-declara-inconstitucionais-dispositivos-da-emenda-dos-precatorios.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/mantido-indeferimento-do-registro-de-candidatura-de-paulo-maluf.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tce-desaprova-contrato-para-construir-casas-em-tupi-paulista.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-de-contas-detecta-irregularidades-em-uniformes-no-guaruja.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/escola-de-contas-publicas-abre-inscricoes-para-cursos-em-setembro.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/propaganda-eleitoral-so-e-permitida-a-partir-de-6-de-julho.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/estatisticas-de-resultados-das-eleicoes-de-domingo-ja-estao-disponiveis.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tce-desaprova-contrato-para-construir-casas-em-tupi-paulista.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/corregedor-do-TCE-fomenta-amplo-debate-sobre-iluminacao-para-cidades.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-de-contas-detecta-irregularidades-em-uniformes-no-guaruja.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-de-contas-desaprova-concorrencia-e-licitacao-de-campinas.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/contratacao-para-pavimentacao-em-valinhos-e-irregular-diz-tce.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-reprova-contrato-de-gestao-da-prefeitura-de-sao-sebastiao.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/ministro-proibe-propaganda-eleitoral-de-marina-no-site-da-rede-sustentabilidade.php$ 	http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tse-e-ministerio-da-defesa-firmam-parceria-para-as-eleicoes-2014.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/editais-para-construcao-de-centros-de-detencao-devem-ser-corrigidos.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/TCE-abre-inscricoes-para-lancamento-do-indice-de-efetividade-da-gestao.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tcesp-promovera-curso-de-capacitacao-sobre-regime-proprio-de-previdencia.php$ 		http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tse-modifica-artigo-de-resolucao-que-trata-de-crimes-eleitorais.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/contas-de-santa-cruz-da-conceicao-sao-reprovadas-no-tce.php$ 							http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/ministros-negam-pedido-do-candidato-levy-fidelix-para-participar-de-entrevistas.php$ 	http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/servicos-de-limpeza-em-jacarei-sao-reprovados-pelo-tribunal-de-contas.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-reforma-sentenca-e-aprova-de-contas-de-terra-roxa.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tribunal-de-contas-aumenta-aplicacao-de-multas-em-94-por-cento.php 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/2014-10-30-propaganda-nao-precisa-mencionar-candidato-para-se-caracterizar-como-eleitoral.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/rejeitado-pedido-de-coligacao-contra-conversa-de-dilma-pelo-facebook-no-alvorada.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tse-defere-registro-de-marina-silva-para-concorrer-a-presidencia-da-republica.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/presidentes-dos-tres-e-do-tse-discutem-preparativos-para-as-eleicoes-2014.php$ 							http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/dias-toffoli-profere-palestra-em-curso-da-ejep-na-proxima-sexta-5.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/maria-thereza-e-joao-otavio-tomam-posse-como-ministra-efetiva-e-corregedor-geral-eleitoral.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/presidente-da-petrobras-e-multada-em-rs-212-mil-por-publicidade-irregular-da-estatal.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/segunda-parcial-de-prestacao-de-contas-ja-esta-disponivel-no-portal-do-tse.php$ 							http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/liminar-impede-conselho-de-medicina-de-goias-de-divulgar-campanha-contra-dilma-na-internet.php$ 			http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/2014-10-28-assinado-termo-de-cooperacao-para-aprimorar-sistema-de-prestacoes-de-contas-eleitorais.php$ 	http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/27-11-2015-Tribunal-de-Contas-de-SP-debate-Direito-Eleitoral-em-seminario-na-Alesp.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2016-abril.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2012-marco.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2012-julho.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-setembro.html$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-outubro.html$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2012-maio.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-maio.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-marco.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2014-dezembro.html$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-janeiro.html$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-junho.html$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2012-setembro.html$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2014-junho.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-marco.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2012-marco.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/comunicado-sdg-44-2013.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-maio.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2013-outubro.php$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias-2015-marco.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/tjsp-instala-camara-reservada-direito-empresarial.php$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/comissao-de-direito-administrativo-e-empossada.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/lei-acesso-informacao-exige-que-ongs-detalhem-uso-dinheiro-publico.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/2014-10-30-TCE-anula-edital-para-servico-de-iluminacao-publica-emBarretos.php$ 		http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/24-03-2016-Prefeito-cancela-licitacao-da-PPP-para-adequacoes.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/11-03-2016-Tribunal-constata-irregularidade-em-repasses-publicos-em-Campinas.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/06-04-2016-CGU-libera-cadastro-com-empresas-punidas-na-Lei-anticorrupcao.php$ 							http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/18-03-2016-Concessao-da-Via-Dutra-pode-ser-ampliada-em-ate-16-anos.php$ 									http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/06-04-2016-comprovante-de-pagamento-de-custas-sem-apresentacao-de-guias-gera-desercao.php$ 				http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/06-04-2016-tribunal-nega-penhora-de-unico-bem-de-familia-para-pagamento-de-divida.php$ 					http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/06-04-2016-justica-concede-medida-protetiva-a-mulher-ameacada-e-comunica-decisao-por-aplicativo.php$ 		http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/22-03-2016-Senado-aprova-PEC-que-isenta-de-IPTU-imoveis-alugados-por-igrejas.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/07-01-16-TCE-implanta-novo-sistema-de-prestacao-de-contas-para-UGE-s-do-Estado.php$ 						http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/17-03-2016-TCU-monitora-determinacoes-sobre-o-Sistema-de-Gestao-de-Convenios-e-Contratos-de-Repasse.php$ 	http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/01-04-2016-remedio-podem-ser-reajustados-em-ate-12-5-a-partir-de-hoje.php$ 								http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/07-04-2016-com-base-no-novo-cpc-nao-conhecido-agravo-de-instrumento-que-visava-a-dilacao-de-prazo.php$ 												http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^noticias/06-04-2016-indenizacao-de-r-150-mil-para-menina-atropelada-em-calcada-por-caminhao-de-lixo.php$ 														http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
RewriteRule ^informativos/informativo-34-decisao-do-colegiado-do-tce-sp-altera-entendimento-sobre-o-cabimento-do-agravo-de-instrumento-no-exame-previo-de-edital.php$ 		http://www.gabanmonteiroadv.com.br/noticias.php? [R=301,L]
#RewriteRule ^$ 									http://www.gabanmonteiroadv.com.br/? [R=301,L]

RewriteRule ^artigos/09-2015-Desoneracao-da-folha-de-pagamentos-e-seus-efeitos-sobre-os-contratos-de-obra-publica.php$ 			http://www.gabanmonteiroadv.com.br/artigos.php? [R=301,L]
RewriteRule ^krikor-palma-artissian.html$ 																						http://www.gabanmonteiroadv.com.br/? [R=301,L]
RewriteRule ^marcos-antonio-gaban-monteiro.html$ 																				http://www.gabanmonteiroadv.com.br/marcos-antonio-gaban-monteiro.php? [R=301,L]
RewriteRule ^juliana-gaban-monteiro-multini.html$ 																				http://www.gabanmonteiroadv.com.br/juliana-gaban-monteiro-multini.php? [R=301,L]
RewriteRule ^alvaro-merlos-akinaga-cordeiro.html$ 																				http://www.gabanmonteiroadv.com.br/alvaro-merlos-akinaga-cordeiro.php? [R=301,L]
RewriteRule ^angelica-rebequi-da-motta-santos.html$ 																			http://www.gabanmonteiroadv.com.br/angelica-rebequi-da-motta-santos.php? [R=301,L]
RewriteRule ^informativos/informativo-12-controle-contas-publicas.php$ 															http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]
RewriteRule ^informativos/informativo-27-municipalizacao-da-iluminacao-publica.php$ 											http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]
RewriteRule ^informativos/informativo-26-licitacao-de-residuos-solidos.php$ 													http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]
RewriteRule ^informativos/informativo-28-compensacao-de-contribuicoes-previdenciarias-rejeita-contas.php$ 						http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]
RewriteRule ^informativos/informativo-52-REFORMA-ELEITORAL-E-ENVIADA-PARA-SANCAO-PRESIDENCIAL.php$ 								http://www.gabanmonteiroadv.com.br/informativo.php?id=17? [R=301,L]
RewriteRule ^informativos/informativo-58-reforma-eleitoral-propaganda-eleitoral-e-partidaria-em-bens-particulares.php$ 			http://www.gabanmonteiroadv.com.br/informativo.php?id=33? [R=301,L]
RewriteRule ^informativos/informativo-24-venda-folha-pagamento-municipios-licitacao-regra-pressupostos-eventual-contratacao-direta.php$ 		http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]
RewriteRule ^informativos/informativo-37-TCE-SP-aprecia-regime-diferenciado-de-contratacoes-rdc-em-sede-de-exame-previo-de-edital.php$ 			http://www.gabanmonteiroadv.com.br/informativos.php? [R=301,L]